name: Release

on:
  push:
    tags:
      - 'v*.*.*'

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-release:
    name: Build Release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [boards, cube2, box]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Setup Rust
        uses: esp-rs/xtensa-toolchain@v1.5
        with:
          default: true
          buildtargets: esp32s3
          ldproxy: true

      - name: Enable caching
        uses: Swatinem/rust-cache@v2

      - name: Package
        env:
          SAVE_IMAGE: "true"
        run: ./package.sh ${{ matrix.target }}

      - name: Create release page
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./package/echokit_${{ matrix.target }}
            ./package/echokit_${{ matrix.target }}.bin
          token: ${{ secrets.GITHUB_TOKEN }}
